
    body {
        margin: 0;
        padding: 0% 10%;
}

    header {
        background-color: white;
        font-size: 3em;
        color: black;
        text-align: center;
        font-family: 'Bungee Shade', cursive;
        border-bottom: 3px solid black;
        border-right: 3px solid black;
        border-left: 3px solid black
    }

    section {
        width: calc(60% - 2px);
        float: left;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-left: solid black;
        padding: 1em 0em;
        height: 145vh;
    }

    article {
        font-size: 40px;
        overflow: hidden;
        width: 100%;
        margin-top: 1.18em;
        padding-left: 1em;
    }

    section h1 {
        text-align: center;
        font-size: 3em;
        font-family: monospace;
    }

    article h3 {
        color: teal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 0.5em;
        margin: 0%;
        text-transform: uppercase;
    }

    .sectxt {   
        width: calc(60% - 2em);
        float: left; 
    }

    .sectxt p {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 0.5em;
        text-align: justify;
        padding: 0px 30px 10px 0px;
    }       

    article img {
        width: 80%;
        height: 20vh;
    }

    .secimg {
        width: calc(40% - 2em);
        float: left;
        padding-left: 4em;
    }

    .titulonew {
        text-align: center;
        font-size: 40px;
        font-family: monospace;
    }

    article h2 {
        margin: 0;
        font-size: 0.9em;
    }

    aside {
        float: left;
        width: calc(40% - 7px);
        border-right: solid black;
        border-left: solid black;
        height: 148.3vh;
    }

    aside .sectxt {
        font-size: 0.9em ;
        font-weight: bold;
        width: 57%;
        float: left;
    }
    
    aside .secimg {
        width: calc(40% - 2em);
        float: left;
        padding-left: 1%;
    }

    aside img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin-left: 1.5em;
        padding-left: 40px;
    }

    aside span {
        font-size: 16px;
        float: left;
        text-align: left;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }

    aside article {
        padding: 0em 0.5em;
        width: calc(100% - 1em);
        margin-top: 1.75em;
    }

    h6 {
        font-family: monospace;;
        margin: 0;
    }

    aside h1 {
        font-family: monospace;
        text-align: center;
        font-size: 3em;
        padding-top: 0.5em;
    }

    footer {
        background: black;
        width: 100%;
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        clear: both;
        display: inline-block
    }

    .footlogo {
        width: 27%;
        display: inline-block;
        font-family: 'Bungee Shade', cursive;
        font-size: 60px;
        color: white;
        padding: 10px 10px 10px 150px
    }

    footer span {
        color: white;
        width: 18%;
    }

    .fwhats {
        display: inline-block;
        width: 10vw;
        padding-left: 8em;
        height: 80%;
    }

    footer img {
        width: 2vw;
        float: left;
    }

    footer h3 {       
        color: teal;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1em;
        text-align: left;
        margin: 0;
        padding-bottom: 2em;
    }